body {
  background-color: #e7e7e7;
}

.menu {
}
.fonts {
  font-size: 20px;
}

.font {
  font-size: 40px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1B3D4C;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px grey;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.delivered{
  font-size:19px;
}

.navbars {
  background-color: white;
  font-size: 13px;
}


.activ {
  background-color:#1B3D4C;
  color:white;
}

.edit {
  font-size: 20px;
  color: black;
}
.fontNav {
  font-size: 40px;
  color: black;
}

.card {
  border-radius: 25px;
  background-color:white;
  color: gray;
  width: 1000px;
}

.envio2{
  text-align: center;
}

.check{
    font-size: 40px;
    color: orange;
  }

  .search{
    float: right;
    width: 30%;
    border-radius: 5px;
  }

.fontEnv{
  font-size: 40px;
  color: orange;
}

.fontEnv1{
  font-size: 70px;
  color: grey;
}

.envio3{
  text-align: center;
  font-size: 25px;
}

.btn1{
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;
  background: rgb(212, 69, 69);


}

.punto {
  float: right;
  width: 20px;
}

.add {
  color: orange;
  float: right;
  width: 80px;
  font-size: 90px;
}